[package]
name = "dialog-ucan"
description = "UCAN verification and authorization utilities"
edition = "2024"
version.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
chrono = "0.4"
ipld-core = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_ipld_dagcbor = { workspace = true }
thiserror = { workspace = true }
ucan = { workspace = true }

[dev-dependencies]
ed25519-dalek = { workspace = true }
tokio = { workspace = true, features = ["rt", "macros"] }
web-time = { workspace = true }
